body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    margin: 10px;

    display: flex;
    flex-direction: column;

}

.s1 {
    background-color: #1F2937;
    padding: 10px 200px 100px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    .header-logo {
        font-size: 24px;
        color: #F9FAF8;
        font-family: "Lobster", sans-serif;
        text-shadow: 20px 5px 10px #3882f6;
        transition: 0.2s all ease-in-out;
        
        a {
            color: #E5E7EB;
            transition: 0.2s all ease-in-out;
            text-decoration: none;
        }

        a:hover {
            font-size: 25px;
            color: #9c4ddd !important;
        }
    }

    .links {
        display: flex;
        gap: 15px;

        a {
            text-decoration: none;
            color: #E5E7EB;
            transition: 0.2s all ease-in-out;
        }

        a:hover {
            color: #3882f6;
        }
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
    }
    
    .photo {
        background-color: gray;
        width: 600px;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        img {
        border-radius: 20px;
        overflow: hidden;
        object-fit: cover;
        }
    }

}

.hero {

    .hero-main {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
        max-width: 16ch;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .secondary {
        font-size: 18px;
        color: #E5E7EB;
        max-width: 45ch;
        margin-top: 0px;
    }


}

.buttonlink {
    text-decoration: none;
    padding: 10px 40px;
    color: #F9FAF8;
    font-weight: 800;
    background-color: #3882f6;
    border-radius: 10px;
    border: 0;
    
}

.buttonlink:hover {
        background-color: #5f92e6;

}

.s2 {
    background-color: white;
    padding: 10px 200px 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-direction: column;

    .information {
        color: #1F2937;
        font-weight: 900;
        font-size: 36px;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .image {
        height: 200px;
        width: 200px;
        margin: 20px;

        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 200px;


    }
}

.s3 {
    display: flex;
    flex-direction: column;

    background-color: #E5E7EB;
    gap: 0px;
    align-items: center;
    
    .quote-box {
        margin: 100px 60px 100px 60px;
        display: flex;
        flex-direction: column;
    }

    .quote {
        font-style: italic;
        font-size: 36px;
        font-weight: lighter;
        color: #1F2937;
        max-width: 40ch;
        margin-bottom: 0px;
    }
    .author {
        align-self: flex-end;
        font-weight: 900;
    }
}


.s4 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .container {
        border-radius: 10px;
        padding: 10px 100px;
        background-color: #3882f6;
        display: flex;
        flex-direction: row;
        gap: 400px;
        color: #F9FAF8;

        align-items: center;
        justify-content: space-evenly;

    }

    .buttonlink {
        border: 1px solid white;
    }
}

.text {

    .headtext {
        font-weight: 800;
    }
}


.footer {
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


figure {
    transition: 0.2s all ease-in-out;
    position: relative;

    img {
        transition: 0.2s all ease-in-out;
        border: 2px solid #3882f6;
        border-radius: 10px;
    }

    img:hover {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        border: 2px solid #3882f6;
        filter: brightness(25%);
    }
}

figure figcaption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s all ease-in-out;
    color: white;
    text-align: center;
}

figure:hover figcaption {
    display: block;
}